rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
      // allow read, write: if
      // allow read,create,delete,update; //no update create,delete,update ==write
      
      //only authorized user can create the transactions
      allow create: if request.auth != null;

      // only allow to read and delete if uid matches
      allow read,delete: if request.auth.uid == resource.data.uid;
      // allow delete: if request.auth.uid == resource.data.uid;


    }
  }
}